@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar a.active {
    background: #f2f2f2;
}

* {
    --sb-track-color: #d8d8d8;
    --sb-thumb-color: #415266;
    --sb-size: 8px;
}

body {
    overflow-x: hidden;
    background-color: #fafafa;
}


::-webkit-scrollbar {
    width: var(--sb-size);

}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}